# exclude

data/*
models/*
scratches/*
.idea
real-time-object-detection
__pycache__
.ipynb_checkpoints
*.npy
*.h5

# include
!data/*.md
!data/*.png
!data/*.gif
!data/query_faces
!models/*.md
